body {
    text-align: center;
    margin: 0;
    padding: 20px 0 0 0;
    background-color: black;
    color: white;
}

p {
    margin: 0 10px;
}

.name {
    background-image: linear-gradient(black, #f06529, black);
}

.list {
    padding: 25px 50px;
    text-align: left;
    background-color: #f06529;
    color: black;
}

ul {
    list-style-type: none;
}

.right {
    text-align: right;
}

.icons i {
    font-size: 40px;
    margin: 15px;
    color: #f06529;
}

img {
    margin-top: 25px
}